.title {
  display: inline-block;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.buttons {
  display: flex;
  gap: 30px;
}

.menu-button {
  font-weight: 500;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 120px;
  height: auto;
}
