# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\director-movie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
